@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "montserrat";
    list-style: none;
  }

  body {
    margin: auto;
    max-width: 1250px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav > div.nav {
    align-items: center;
    justify-content: end;
    display: none;
    gap: 40px;
    width: 100%;
  }

  .slogan {
    width: 100%;
    text-align: end;
    padding-right: 15px;
    height: 35px;
    line-height: 35px;
  }

  menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
  }

  menu img {
    display: none;
  }

  menu img.logo-mobile {
    display: block;
    scale: .8;
    position: absolute;
    top: 0px;
    left: 5px;
  }

  .iconeMenu {
    background-color: #000000;
    min-width: 30px;
    height: 30px;
    margin: 5px;
  }

  .MenuDePesquisa > input {
    border: none;
    width: 40vw;
    height: 40px;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid #cccccc;
    outline: none;
    margin: 0 20px;
}

#ButtonPesquisa {
  position: absolute;
  transform: translate(-40px);
  
  border-radius: 0px 20px 20px 0px;
  width: 40px;
  height: 40px;
  border: 1px solid #cccccc;
}

menu p {
  padding: 10px;
}

.nav-b {
  display: flex;
  height: 38px;
}

div.mobileMenu {
  cursor: pointer;
  transition: .5s;
  position: absolute;
  right: 20px;
}

div.mobileMenu div {
    width: 32px;
    height: 2px;
    background-color: #070707;
    margin: 8px;
}

div.mobileMenu:hover {
    transform: scale(1.1);
}

  .nav-b ul {
    position: absolute;
    right: 70px;
    z-index: 1;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #0000007e;
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.63);
    display: none;
  }

  .nav-b.active ul {
    display: flex;
}

  .carousel {
    margin: auto;
    margin-top: 10px;
    position: relative;
    width: 900%;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    /* border-radius: 12px; */
  }

  .carousel-track {
    display: flex;
    transition: transform .5s ease;
    cursor: grab;
  }

  .carousel-slide {
    min-width: 100%;
    height: 100%;
    transition: 0.3s;
    user-select: none;
  }

  .carousel-slide img {
    min-width: 100%;
    display: block;
    /* border-radius: 12px; */
  }

  .nav-button {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    background: #7a7a7a1a;
    border: none;
    color: rgb(177, 177, 177);
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: .5s;
  }

  .nav-button:hover {
    backdrop-filter: blur(10px);
    background-color: #00000015;
  }

  .prev {
    left: 10px;
    transform: translate(-50%, -50%);
    padding-left: 150px;
  }

  .next {
    right: 10px;
    transform: translate(50%, -50%);
    padding-right: 150px;
  }

  .radio-nav {
    width: 100%;
    transform: translateY(-40px);
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2%;
  }

  .radio-nav input[type="radio"] {
    appearance: none;
    width: 7px;
    height: 7px;
    background: #cccccc;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
  }

  .radio-nav input[type="radio"]:checked {
    background: #ffffff;
    transform: scale(1.5);
  }

  .NavLinhasDeProdutos {
    display: flex;
  }

  .LinhasDeProdutos {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .4s;
    cursor: pointer;
  }

  .LinhasDeProdutos:hover {
    scale: 1.05;
  }

  .carrossel-container {
    position: relative;
    overflow: hidden;
    /* background-color: #023992; */
  }

  .carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .item {
    min-width: 200px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
  }
  
  /* .botoes {
    background-color: #023992;
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1340px;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  } */

  .BotoesRadioNav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #cacaca73;
    color: #989898;
    min-width: 30px;
    margin: 10px;
    height: 30px;
    margin-top: 80px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50%;
    transition: .5s;
    /* transform: translate(50px); */
  }

  .BotoesRadioNav:hover {
    background: #a4a4a4b3;
    color: white;
    transform: scale(1.1);
  }

  .MaisVendidos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .MaisVendidos > h2 {
    text-align: center;
    margin: 40px;
    font-weight: 500;
  }

  .ConteinerMaisVendidos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    padding: 10px;
  }

  .imgMaisVendidos {
    /* width: 100%; */
    height: 300px;
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #023992;
    border-radius: 15px;
    transition: .3s;
    cursor: pointer;
  }

  .imgMaisVendidos:hover {
    scale: 1.02;
  }

  .ConteinerMaisVendidos .img1 {
    min-width: 50%;
    background-color: #029218;
  }

  .ConteinerMaisVendidos .img2, .img3 {
    min-width: 35%;
    background-color: #920292;
  }
  
  .LinhaTextil > h2 {
    text-align: center;
    margin: 40px;
    font-weight: 500;
  }

  .ConteinerTextil {
    display: flex;
    align-items: center;
  }

  .ConteinerProdutos {
    max-width: 1100px;
    overflow: hidden;
  }
  
  .ConteinerProduto {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    height: 500px;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
  }

  .Produto {
    max-width: 250px;
    min-width: 250px;
    height: 98%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 10px #00000067;
    cursor: pointer;
    transition: .35s;
  }

  .buttonTextil {
    margin: 10px;
    display: flex;
    font-family: 'montserrat';
    font-weight: 500;
    background-color: #989898;
    color: white;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    align-items: center;
    border: none;
    padding: 10px;
    transition: .2s;
  }

  .buttonTextil:hover {
    background-color: #5e5e5e;
    scale: 1.1;
  }
  
  .Produto:hover {
    scale: 1.02;
  }
  
  .Produto > img {
    height: 250px;
    width: 250px;
    object-fit: cover;
  }
  
  .Produto > .InfoProdutos {
    padding: 10px;
  }

  .LinhaDeProducao {
    background-color: #e4e4e4;
    padding: 1px 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .InfoProdutos h3 {
    margin: 10px 0;
    font-weight: 400;
  }

  .InfoProdutos p {
    font-size: 13px;
    color: #5e5e5e;
  }

